@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  padding: 24px;
  font-size: 15px;
  background-color: hsl(36, 100%, 99%);
}

.navbar-section {
  position: relative;
}

.icon {
  cursor: pointer;
  text-align: end;
}

.close {
  position: absolute;
  top: 6px;
  right: 4px;
  display: none;
}

.navbar-list {
  display: none;
  list-style-type: none;
  position: absolute;
  right: 0;
  text-align: start;
  background-color: hsl(36, 100%, 99%);
  width: 70%;
  height: 100vh;
  padding-top: 50%;
  padding-left: 18px;
}

.list-item {
  font-size: 22px;
  font-weight: bold;
  margin: 18px 0;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 12px 0;
}

.navbar-section .logo-file {
  font-size: 42px;
}

.hero-section {
  margin: 12px 0 12px 0;
}

.hero-section img {
  max-width: 100%;
  height: auto;
}

.hero-section .heading-component {
  margin: 20px 0 0 0;
  font-size: 46px;
  width: 80%;
}

.hero-section .wording-component {
  margin: 12px 0;
}

.section-2 {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 16px;
}

.new-heading {
  color: hsl(35, 77%, 62%);
}

.section-2 .card-container {
  margin: 40px 0;
}

.section-2 .card-heading {
  margin-bottom: 8px;
}

.section-2 .card-wording {
  margin-bottom: 8px;
}

.section-2 .card-line {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background-color: hsl(36, 100%, 99%);
}

.cards-2 {
  margin: 40px 0 0 0;
}

.cards-2-container {
  display: flex;
  align-items: end;
  margin: 20px 0;
  position: relative;
}

.cards-2 img {
  width: full;
  height: 140px;
}

.cards-2-wording {
  padding: 4px 18px;
  margin-left: 22px;
}

.cards-2 .heading-component {
  font-size: 22px;
  margin: 12px 0;
}

.cards-2 .number {
  color: hsl(5, 85%, 63%);
  position: absolute;
  top: 0;
  font-weight: 900;
  padding: 2px 0;
}

.button-component {
  background-color: hsl(5, 85%, 63%);
  padding: 10px 32px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin: 20px 0 20px 0;
}
